<div id="contacts-container">
  <div class="contact-items" id="gmail">
    <img src="./assets/icons/gmail.png" alt="gmail">
    <span>
      mh.zeynal@gmail.com
    </span>
  </div>

  <div class="contact-items" id="linkedin">
    <img src="./assets/icons/linkedin.png" alt="linkedin">
    <span>
      <a href="https://www.linkedin.com/in/mohammad-hossein-zeynal-zadeh-a3b1b8213/" target="_blank">
      mohammad-hossein zeynal zadeh
    </a>
    </span>
  </div>

  <div class="contact-items" id="phone">
    <img src="./assets/icons/phone.png" alt="phone">
    <span>
      +989011521493
    </span>
  </div>
</div>
