# Binaries for programs and plugins
back-end/*.exe
back-end/*.exe~
back-end/*.dll
back-end/*.so
back-end/*.dylib

# Test binary, built with `go test -c`
back-end/*.test

# Output of the go coverage tool, specifically when used with LiteIDE
back-end/*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
back-end/go.work

# compiled output-angular
/front-end/dist
/front-end/tmp
/front-end/out-tsc
# Only exists if Bazel was run-angular
/front-end/bazel-out

# dependencies-angular
/front-end/node_modules

# profiling files-angular
/front-end/chrome-profiler-events*.json

# IDEs and editors-angular
/front-end/.idea
back-end/.idea
/front-end/.project
/front-end/.classpath
/front-end/.c9/
/front-end/*.launch
/front-end/.settings/
/front-end/*.sublime-workspace

# IDE - VSCode-angular
.vscode/*
/front-end/.vscode/*
/front-end/!.vscode/settings.json
/front-end/!.vscode/tasks.json
/front-end/!.vscode/launch.json
/front-end/!.vscode/extensions.json
/front-end/.history/*

# misc-angular
/front-end/.sass-cache
/front-end/connect.lock
/front-end/coverage
/front-end/libpeerconnection.log
/front-end/npm-debug.log
/front-end/yarn-error.log
/front-end/testem.log
/front-end/typings

# System Files-angular
/front-end/.DS_Store
/front-end/Thumbs.db