<div id="page-container">
  <div id="header-bar">
    <div>
      <a href="/lobby/home" id="page-logo">
        <img src="./assets/service_logo.png" alt="logo">
      </a>
      <button type="button" id="profile-button"
              (click)="isUserDropdownOpen = !isUserDropdownOpen"
              cdkOverlayOrigin
              #trigger="cdkOverlayOrigin">
        <img src="./assets/icons/profile.png" alt="profile">
      </button>
    </div>
  </div>
  <div id="main-content-container">
    <div id="dashboard-button-container">
      <div #buttonContainer>
        <a class="dashboard-buttons" routerLink="/user/generate-url"
           id="generate-url" routerLinkActive="active">
          <div>
            <img src="./assets/icons/generate.png" alt="generate-url">
            <strong>generate url</strong>
          </div>
        </a>
        <a class="dashboard-buttons" routerLink="links"
           id="links" routerLinkActive="active">
          <div>
            <img src="./assets/icons/link.png" alt="links">
            <strong>links</strong>
          </div>
        </a>
      </div>
    </div>
    <div id="route-content">
      <router-outlet (activate)="markAsSelected()"></router-outlet>
    </div>
  </div>
</div>
<ng-template cdkConnectedOverlay cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             [cdkConnectedOverlayHasBackdrop]="true" [cdkConnectedOverlayOrigin]="trigger"
             [cdkConnectedOverlayOpen]="isUserDropdownOpen" (detach)="isUserDropdownOpen = false"
             (backdropClick)="isUserDropdownOpen = false">
  <div id="dropdown-overlay">
    <app-user-dropdown></app-user-dropdown>
  </div>
</ng-template>
