@import "src/styles";

a {
  text-decoration: none;
}

#page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(-45deg, #000000, #2a2929);
}

#header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  & div {
    @extend .glass-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}

#main-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}

#dashboard-button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 150px;
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    @extend .glass-box;
  }
}

.dashboard-buttons {
  position: relative;
  color: var(--primary-color);
  height: fit-content;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  & img {
    width: 25px;
    margin-right: 5px;
  }

  & div {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.dashboard-buttons::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 0;
  background-color: var(--primary-color);
  left: 0;
  bottom: -2px;
  transition: width .25s ease-in-out;
}

.dashboard-buttons:hover::after {
  width: 100%;
}

.active-dashboard-button {
  color: var(--warn-color);
  img {
    filter: brightness(0) saturate(100%) invert(18%) sepia(80%)
    saturate(2715%) hue-rotate(352deg) brightness(92%) contrast(96%);
  }
  &::after {
    background-color: var(--warn-color);
    width: 100%;
  }
}

#page-logo {
  display: block;
  height: 50px;
  width: fit-content;
  text-decoration: none;
  & img {
    height: 55px;
  }
}

#profile-button img {
  width: 40px;
  outline: none;
}

#profile-button {
  border: none;
  background-color: transparent;
}

#route-content {
  @extend .glass-box;
  box-sizing: border-box;
  width: calc(100% - 155px);
  overflow: hidden;
}

#dropdown-overlay {
  width: 220px;
}
