a {
  text-decoration: none;
}

#page-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#header-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  & div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #e8e8e8;
    padding: 10px;
  }
}

#main-content-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
  justify-content: space-between;
}

#dashboard-button-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 150px;
  & > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #e8e8e8;
  }
}

.dashboard-buttons {
  position: relative;
  color: #3083C3;
  height: fit-content;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  & img {
    width: 25px;
    margin-right: 5px;
  }

  & div {
    display: flex;
    justify-content: left;
    align-items: center;
  }
}

.dashboard-buttons::after {
  content: "";
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 0;
  background-color: #3083C3;
  left: 0;
  bottom: -2px;
  transition: width .25s ease-in-out;
}

.dashboard-buttons:hover::after {
  width: 100%;
}

.active-dashboard-button {
  @extend .dashboard-buttons;
  color: #B61515;
}

#page-logo {
  display: block;
  height: 50px;
  width: fit-content;
  text-decoration: none;
  & img {
    height: 55px;
  }
}

#profile-button img {
  width: 40px;
  outline: none;
}

#profile-button {
  border: none;
  background-color: transparent;
}

#route-content {
  width: calc(100% - 155px);
  background-color: #e8e8e8;
  border-radius: 15px;
  overflow: hidden;
}
