<div id="link-generator-container">
  <form [formGroup]="form" id="main-form">
    <div>
      <div id="mandatory-inputs">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>title</mat-label>
          <input matInput type="text" formControlName="title" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>url</mat-label>
          <input matInput type="text" formControlName="originalUrl" required>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>description(optional)</mat-label>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
      <div>
        <button type="submit"
                mat-raised-button color="primary"
                (click)="submitForm()">shorten
        </button>
      </div>
      <div id="short-url-container">
        <mat-form-field>
          <input type="text" matInput readonly #short_url>
          <button type="button" color="primary"
                  matSuffix mat-icon-button
                  (click)="copyUrlToClipbaord()">
            <mat-icon><img src="./assets/icons/copy.png" alt="copy"></mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
