<div id="about-container">
  <div class="paragraphs">
    <h1><strong>What is a shortener service?</strong></h1>
    <p>
      A URL shortener service is a tool that takes a long,
      unwieldy web address and creates a much shorter,
      more manageable version of it. This shorter version of the URL is easier to share,
      particularly on social media sites like Twitter where character limits are in place.
    </p>
  </div>
  <div class="paragraphs">
    <h1><strong>So, how we can use your website?</strong></h1>
    <p>
      In order to use our website for shortening your links,
      signup or login to your account, go to <em>"generate-url"</em>
      , and then fill the form.
      <br>enjoy ;)
    </p>
  </div>
</div>
