<form [formGroup]="form" class="account-container" (submit)="emitClientDataForm()">
  <mat-form-field appearance="outline">
    <mat-label>username</mat-label>
    <input matInput type="text" formControlName="username" required>
    <mat-error *ngIf="form.controls.username.invalid">
      please enter your username
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>password</mat-label>
    <input matInput type="password" formControlName="password" required>
    <mat-error *ngIf="form.controls.password.invalid">
      please enter your password
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">login</button>
  <button mat-button color="warn" type="button" (click)="DoesClientHasAccount.emit(false)">don't have an account?</button>
</form>
