<form [formGroup]="form" class="account-container">
  <mat-form-field appearance="outline">
    <mat-label>username</mat-label>
    <input matInput type="text" formControlName="username">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>password</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>name</mat-label>
    <input matInput type="text" formControlName="name">
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">signup</button>
  <button mat-button color="warn" type="button" (click)="DoesClientHasAccount.emit(true)">already have an account?</button>
</form>
