<div id="dropdown-container" cdkTrapFocus [cdkTrapFocusAutoCapture]="true">
  <div id="profile-summary">
    <div id="profile-photo">CB</div>
    <div id="summary">
      <span id="name">charlie botosh</span>
      <span id="email">charliebotosh@gmail.com</span>
    </div>
  </div>
  <div id="user-pages">
    <div class="page-buttons">
      <img src="../../../../assets/icons/profile.png" alt="profile">
      <span>profile</span>
    </div>
    <div class="page-buttons" *ngIf="!isCurrentRouteOnUserPage()">
      <img src="../../../../assets/icons/dashboard.png" alt="dashboard">
      <span>dashboard</span>
    </div>
  </div>
  <div id="logout">
    <div class="page-buttons">
      <img src="../../../../assets/icons/logout.png" alt="logout">
      <span>logout</span>
    </div>
  </div>
</div>
