@import "src/styles";

img {
  width: 22px;
}

span {
  align-items: center;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #{map-get($mat-accent, "darker")};
  border-radius: 15px;
}

#user-pages {
  padding: 5px 0;
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
  .page-buttons {
    color: var(--text-primary-color);
    img {
      filter: brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(0%) hue-rotate(6deg) brightness(106%) contrast(107%);
    }
  }
}

#logout {
  padding: 5px 0 0 0;
  color: var(--warn-color);
}

.page-buttons {
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#profile-summary {
  padding: 0 0 5px 0;
  display: flex;
  justify-content: space-between;
}

#profile-photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-photo {
  color: var(--accent-lighter-color);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--primary-color);
}

#summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--accent-lighter-color);
  & span:last-child {
    color: var(--text-accent-color);
  }
}
