img {
  width: 20px;
}

#dropdown-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
}

#user-pages {
  border-bottom: 1px solid #999999;
  border-top: 1px solid #999999;
}

#logout {
  color: #EB2626;
}

.page-buttons {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
