#home-content-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#banner-slogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  height: 75%;
  color: var(--text-primary-color);
  span {
    bottom: -30px;
    position: relative;
    width: fit-content;
    animation: moveUp .5s 1s ease-in-out forwards;
  }
}

#account-button {
  display: flex;
  justify-content: center;
  height: 25%;
  padding: 15px;
  box-sizing: border-box;
  button {
    height: fit-content;
    transform: scale(1.4);
  }
}

#primary-highlighted {
  color: var(--primary-darker-color) !important;
}

#warn-highlighted {
  color: var(--warn-color) !important;
}

@media screen and (max-width: 500px){
  #account-button {
    button {
      transform: scale(2);
    }
  }

  #banner-slogan {
    font-size: 30px;
  }
}

@keyframes moveUp {
  from {bottom: -30px}
  to {bottom: 0}
}
