@import "src/styles";

#horizontal-flex-page-container {
  background-image: linear-gradient(-45deg, #000000, #2a2929);
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}

#vertical-flex-page-container {
  @extend #horizontal-flex-page-container;
  //background-image: linear-gradient(to left, transparent, transparent);
  flex-direction: column;
}

#background-image-container {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  & > img {
    width: 100%;
    height: 100%;
  }
}

#form-container::after {
  content: '';
  position: absolute;
  background-image: linear-gradient(40deg, #3083C3, #2170b1);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(1px);
  top: -18px;
  left: -18px;
  z-index: -2;
}

#form-container::before {
  content: '';
  position: absolute;
  background-image: linear-gradient(40deg, #B61515, #B61515);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(1px);
  bottom: -18px;
  right: -18px;
  z-index: -2;
}

#form-container {
  width: 300px;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  background-color: transparent;
  & > div {
    height: 100%;
  }
}

.account-type-container {
  @extend .glass-box;
  z-index: 1;
}
